.advantages_section {
  position: relative;
  width: 100%;
  width: 343px;
  height: 353px;
  background: rgba(31, 31, 31, 1);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .advantages_section {
    width: 704px;
    height: 446px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages_section {
    width: 600px;
    height: 736px;
  }
  .background_image {
    background-image: url("../../image/x1/iPhone 15.png");
    background-repeat: no-repeat;
    width: 405px;
    height: 835px;
    position: absolute;
    top: 80px;
    left: 98px;
  }
}
