.advantages_section {
  position: relative;
  width: 343px;
  height: 353px;
  background: rgba(31, 31, 31, 1);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .advantages_section {
    width: 704px;
    height: 446px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages_section {
    width: 600px;
    height: 736px;
  }

  .title {
    width: 444px;
    height: 180px;
    position: absolute;
    color: rgb(249, 249, 249);
    font-family: "Gilroy", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;

    left: 96px;
    top: 196px;
  }
  .textBook {
    color: rgba(227, 227, 227, 0.5);
  }
}
